<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adox.matias.formadox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_form"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".FormularioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirmarActivity"
            android:label="@string/app_name"></activity>

        <service android:name=".service.SyncService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".service.LaunchReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver><!--El receiber se activa , cuando se prende el cel , para que ejecute el servide-->

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.receive_boot_completed" />

</manifest>
